# Server
PORT=8080

# HTTPS
HTTPS_PORT=8443
TLS_CERT_FILE=./certs/cert.pem
TLS_KEY_FILE=./certs/key.pem

# SQLite database
DB_PATH=./data/forum.db
MIGRATIONS_DIR=./migrations

# Sessions
SESSION_DURATION_H=24

# Google OAuth
OAUTH_ID=
OAUTH_KEY=

# Static files and templates
STATIC_DIR=web/static
TEMPLATES_DIR=web/templates

# Uploads
UPLOAD_DIR=./uploads
