# Serveur
PORT=8080

# HTTPS
HTTPS_PORT=8443
TLS_CERT_FILE=./certs/cert.pem
TLS_KEY_FILE=./certs/key.pem

# Base de données SQLite
DB_PATH=./data/forum.db
MIGRATIONS_DIR=./migrations

# Sessions
SESSION_DURATION_H=24

# Fichiers statiques et templates
STATIC_DIR=web/static
TEMPLATES_DIR=web/templates

# Uploads
UPLOAD_DIR=./uploads
MAX_UPLOAD_MB=20
