<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/profile.css">

    
    <title>ForumJS</title>
</head>
<body>
    <nav>
        <h2>ForumJS</h2>
        <ul>
            <li> <a href="#">home</a> </li>
           
            <li> <a href="#">library</a> </li>
            <li> <a href="#">Profile</a> </li>
            <li> <a href="#">Stories</a> </li>
            <li> <a href="#">stats</a> </li>
           <li> <a href="#">Following</a> </li>
        </ul>
    </nav>
    <main>
        <div>
        <a href="#">Home</a>
        <a href="#">Activity</a>
        <a href="#">About</a>
    </div>
    <div><h3>Reading list</h3>
        <p> no stories </p>
    </div>
    </main>
    <aside>
        <img src="../../static/img/photoprofil.jpg" alt="photo de profil">
        <h3>nom d'utilisateur </h3>
        <a href="#">Edit profile</a>
    </aside>
    
</body>
</html>